<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 30 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zihexin.course.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zihexin.course.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <select id="getUserByName" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM USER WHERE USER_NAME = #{username}
    </select>

</mapper>